.navbar{
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.logo{
    height: 60px;
    border-radius: 40px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    min-height: 100vh;
    background-size: cover;
    background-image: url('food.jpg');
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}
#bill{
    display: flex;
    flex-direction: row;
}
.home-heading{
    margin-right: 60px;
    text-align: right;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
}
.span1{
    font-family: cursive;
}
.home-text-center{
     text-align: center;
}
.home-view-button{
    margin-top: 50px;
    margin-right: 50px;  
    color: #fff;
    font-size: 70px;
}
.food-card-image{
    height: 200px;
    width: 150px;
    border-radius: 5px;
}
.food-list-card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    height: 320px;
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
}
.food-card-heading{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 0px;
}
.food-card-button{
    margin-top: 10px;
    height: 30px;
    width: 110px;
    border-width: 0px;
    border-radius: 5px;
    background-color: #9da503;
    color: #fff;
}
 
.food-card-text{
    font-size: 17px;
    overflow-y: auto;
    color: rgb(128, 128, 128);
}
.food-card-nonveg-logo{
    height: 30px;
}
 

.food-items-data-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgb(246, 246, 246);
}
.view-more-heading{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #baa509;
    text-align: left;
}
.food-extra-view-more{
    text-decoration: none;
    border-radius: 10px;
    color:#268726;
}
.food-item-image{
    height: 120px;
    width: 120px;
    border-radius: 20px;
}
.food-items-list-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.food-item-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.food-item-text{
    color: rgb(117, 115, 115);
}

.food-title{
    font-size: 25px;
    margin-left: 20px;
}
.save-changes-button{
    background-color: #e6cd11;
    height: 40px;
    width: 120px;
    color: #000;
    border-width: 0px;
    border-radius: 10px;
}
.collapse{
    width: 100%;
}
.add-icon{
    color: green;
    font-size: 25px;
}
.view-extra-option-container{
    margin-top: 120px;
    text-align: center;
}
.view-extra-option-button{
    color:#ceba0a;
    font-size: 50px;
    text-decoration: none;
    
}